/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  margin: 0 auto;
  max-width: 640px;
  font-family: 'Roboto', sans-serif;
  min-width: 320px; }
  body #wrapper header {
    background-color: #2f2f2f;
    width: 100%;
    height: 50px;
    display: inline-block; }
    @media (min-width: 320px) and (max-width: 449px) {
      body #wrapper header {
        height: 60px; } }
    body #wrapper header .color {
      width: 100%;
      height: 50%;
      background-color: #363636; }
    body #wrapper header .age {
      background: url(images/age1.png) no-repeat;
      width: 45px;
      height: 46px;
      margin-top: -24px;
      float: left;
      position: relative;
      margin-left: 3%; }
      @media (min-width: 320px) and (max-width: 449px) {
        body #wrapper header .age {
          background: url(images/age2.png) no-repeat;
          margin-top: -16px; } }
      @media (min-width: 450px) and (max-width: 539px) {
        body #wrapper header .age {
          background: url(images/age2.png) no-repeat;
          margin-top: -16px; } }
      body #wrapper header .age span {
        position: absolute;
        top: 28%;
        left: 20%;
        font-size: 18px;
        color: #fff; }
        @media (min-width: 320px) and (max-width: 449px) {
          body #wrapper header .age span {
            top: 17%;
            left: 10%;
            font-size: 15px; } }
        @media (min-width: 450px) and (max-width: 539px) {
          body #wrapper header .age span {
            top: 17%;
            left: 12%;
            font-size: 15px; } }
    body #wrapper header a {
      margin-left: 24%;
      position: relative;
      top: -25px;
      text-decoration: none;
      left: calc(50% - 29vw); }
      body #wrapper header a .a {
        float: left;
        margin-left: 26%;
        margin-top: -3.5%; }
        @media (min-width: 450px) and (max-width: 539px) {
          body #wrapper header a .a {
            margin-left: 24%; } }
        @media (min-width: 320px) and (max-width: 449px) {
          body #wrapper header a .a {
            margin-left: 15%; } }
        body #wrapper header a .a span {
          text-transform: uppercase;
          font-size: 26px;
          color: #fff;
          margin-right: 8px;
          font-weight: 300; }
          @media (min-width: 450px) and (max-width: 539px) {
            body #wrapper header a .a span {
              font-size: 25px; } }
          @media (min-width: 320px) and (max-width: 449px) {
            body #wrapper header a .a span {
              font-size: 20px; } }
        body #wrapper header a .a .tube {
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          border-radius: 20px;
          background-color: #ffffff;
          color: #ff002a;
          display: inline-block;
          font-size: 27px;
          width: 75px;
          height: 35px;
          text-align: center;
          padding-top: 2px;
          font-weight: 600; }
          @media (min-width: 450px) and (max-width: 539px) {
            body #wrapper header a .a .tube {
              width: 79px;
              height: 35px;
              font-size: 25px; } }
          @media (min-width: 320px) and (max-width: 449px) {
            body #wrapper header a .a .tube {
              width: 65px;
              height: 27px;
              font-size: 20px; } }
  body #wrapper main {
    background: #000;
    width: 100%;
    overflow: auto; }
    body #wrapper main .sponge {
      background: url(images/sponge.png) no-repeat;
      width: 98%;
      margin: 1% 1%;
      opacity: 0.7;
      background-position: center;
      background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      height: calc(100vh - 200px); }
      @media (min-width: 450px) and (max-width: 539px) {
        body #wrapper main .sponge {
          height: calc(100vh - 170px); } }
      @media (min-width: 320px) and (max-width: 449px) {
        body #wrapper main .sponge {
          height: calc(100vh - 130px); } }
      body #wrapper main .sponge header {
        background-color: #000;
        opacity: 0.5;
        height: 60px; }
        body #wrapper main .sponge header p {
          color: #fff;
          font-size: 25px;
          display: inline-block;
          float: left;
          margin-left: 6%;
          font-weight: 400;
          margin-top: 1vw;
          margin-bottom: 0; }
          @media (min-width: 450px) and (max-width: 539px) {
            body #wrapper main .sponge header p {
              font-size: 20px;
              margin-top: 3vw; } }
          @media (min-width: 320px) and (max-width: 449px) {
            body #wrapper main .sponge header p {
              font-size: 20px;
              margin-top: 5vw; } }
        body #wrapper main .sponge header ul {
          float: right;
          position: relative;
          margin-right: 14%;
          margin-top: 1%; }
          @media (min-width: 320px) and (max-width: 449px) {
            body #wrapper main .sponge header ul {
              margin-top: 5vw;
              margin-right: 10%; } }
          @media (min-width: 450px) and (max-width: 539px) {
            body #wrapper main .sponge header ul {
              margin-right: 14%;
              margin-top: 3%; } }
          body #wrapper main .sponge header ul a {
            margin-left: 0; }
            body #wrapper main .sponge header ul a .time {
              background: url(images/time1.png) no-repeat;
              width: 45px;
              height: 45px;
              float: left;
              display: inline-block;
              margin-right: 40%;
              background-size: cover;
              -webkit-background-size: cover;
              -o-background-size: cover;
              -moz-background-size: cover; }
              @media (min-width: 320px) and (max-width: 449px) {
                body #wrapper main .sponge header ul a .time {
                  background: url(images/time2.png) no-repeat;
                  margin-right: 0; } }
              @media (min-width: 450px) and (max-width: 539px) {
                body #wrapper main .sponge header ul a .time {
                  background: url(images/time2.png) no-repeat;
                  margin-right: 0; } }
          body #wrapper main .sponge header ul a {
            margin-left: 0; }
            body #wrapper main .sponge header ul a .atom {
              background: url(images/atom1.png) no-repeat;
              width: 41px;
              height: 47px;
              display: inline-block;
              position: absolute;
              top: 24px;
              background-size: cover;
              -webkit-background-size: cover;
              -o-background-size: cover;
              -moz-background-size: cover; }
              @media (min-width: 320px) and (max-width: 449px) {
                body #wrapper main .sponge header ul a .atom {
                  background: url(images/atom2.png) no-repeat;
                  width: 24px; } }
              @media (min-width: 450px) and (max-width: 539px) {
                body #wrapper main .sponge header ul a .atom {
                  background: url(images/atom2.png) no-repeat;
                  width: 24px; } }
      body #wrapper main .sponge button {
        -webkit-border-radius: 32px;
        -moz-border-radius: 32px;
        -ms-border-radius: 32px;
        border-radius: 32px;
        background-color: #ff002a;
        background-repeat: no-repeat;
        background-image: url(images/bt2.png);
        border-color: #ff002a;
        max-width: 450px;
        width: 272px;
        max-height: 100px;
        height: 50vh;
        margin: 2% auto 1%;
        background-position: 55%;
        display: block; }
        @media (min-width: 450px) and (max-width: 539px) {
          body #wrapper main .sponge button {
            background-image: url(images/bt1.png);
            height: 15vw;
            background-position: 50%;
            width: 45vw;
            margin-top: 8%; } }
        @media (min-width: 320px) and (max-width: 449px) {
          body #wrapper main .sponge button {
            height: 30vw;
            background-image: url(images/bt1.png);
            background-position: 60%;
            margin-top: 55%;
            width: 60vw;
            margin-top: 8%; } }
      body #wrapper main .sponge p {
        text-align: center;
        color: #bababa;
        margin-bottom: 3%;
        font-weight: 400; }
        @media (min-width: 450px) and (max-width: 539px) {
          body #wrapper main .sponge p {
            font-size: 12px; } }
      body #wrapper main .sponge a {
        text-decoration: none; }
        body #wrapper main .sponge a .cancel {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px;
          background-color: #000;
          opacity: 0.5;
          color: #ffffff;
          border: 1px solid;
          text-align: center;
          width: 20%;
          min-width: 67px;
          height: 31px;
          padding-top: 6px;
          margin-left: 40%;
          color: #fff;
          font-size: 19px;
          float: left;
          font-weight: 400; }
          @media (min-width: 320px) and (max-width: 449px) {
            body #wrapper main .sponge a .cancel {
              width: 17%;
              font-size: 15px;
              height: 24px;
              padding-top: 3px; } }
          @media (min-width: 450px) and (max-width: 539px) {
            body #wrapper main .sponge a .cancel {
              width: 17%;
              font-size: 15px;
              height: 24px;
              padding-top: 3px; } }
    body #wrapper main footer {
      overflow: auto;
      background-color: #000;
      height: 65px; }
      @media (min-width: 320px) and (max-width: 449px) {
        body #wrapper main footer {
          height: 60px; } }
      @media (min-width: 450px) and (max-width: 539px) {
        body #wrapper main footer {
          height: 60px; } }
      body #wrapper main footer .grey {
        width: 98%;
        height: 3px;
        background-color: #626262;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        margin-left: 6px; }
        body #wrapper main footer .grey .red {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px;
          width: 25%;
          height: 3px;
          background-color: #ec0622; }
      body #wrapper main footer ul {
        margin: 2%;
        position: relative;
        height: 35px; }
        @media (min-width: 320px) and (max-width: 449px) {
          body #wrapper main footer ul {
            height: 25px; } }
        @media (min-width: 450px) and (max-width: 539px) {
          body #wrapper main footer ul {
            margin: 1%;
            margin-top: 2%;
            height: 45px;
            margin-bottom: 0; } }
        body #wrapper main footer ul .play {
          background: url(images/play1.png) no-repeat;
          width: 41px;
          height: 35px;
          display: inline-block;
          margin-right: 4%; }
          @media (min-width: 320px) and (max-width: 449px) {
            body #wrapper main footer ul .play {
              background: url(images/play2.png) no-repeat; } }
          @media (min-width: 450px) and (max-width: 539px) {
            body #wrapper main footer ul .play {
              background: url(images/play2.png) no-repeat; } }
        body #wrapper main footer ul .volume {
          background: url(images/volume1.png) no-repeat;
          display: inline-block;
          width: 45px;
          height: 35px; }
          @media (min-width: 320px) and (max-width: 449px) {
            body #wrapper main footer ul .volume {
              background: url(images/volume2.png) no-repeat; } }
          @media (min-width: 450px) and (max-width: 539px) {
            body #wrapper main footer ul .volume {
              background: url(images/volume2.png) no-repeat; } }
        body #wrapper main footer ul .sec {
          margin-left: 9%;
          display: inline-block;
          position: absolute;
          top: 30%;
          width: 100px;
          color: #626262; }
          @media (min-width: 320px) and (max-width: 449px) {
            body #wrapper main footer ul .sec {
              font-size: 12px;
              margin-left: 1%;
              top: 20%; } }
          @media (min-width: 450px) and (max-width: 539px) {
            body #wrapper main footer ul .sec {
              font-size: 12px;
              margin-left: 1%;
              top: 20%; } }
        body #wrapper main footer ul .screen {
          background: url(images/screen1.png) no-repeat;
          display: inline-block;
          width: 55px;
          height: 35px;
          float: right;
          margin-right: 5%; }
          @media (min-width: 320px) and (max-width: 449px) {
            body #wrapper main footer ul .screen {
              background: url(images/screen2.png) no-repeat;
              margin-right: 0; } }
          @media (min-width: 450px) and (max-width: 539px) {
            body #wrapper main footer ul .screen {
              background: url(images/screen2.png) no-repeat;
              margin-right: 0; } }
  body #wrapper footer {
    width: 100%;
    height: 15.5%;
    background-color: #2f2f2f;
    overflow: auto;
    position: relative; }
    body #wrapper footer #check {
      width: 18px;
      height: 16px;
      border: 2px solid #000;
      background-color: #ffffff;
      float: left;
      margin-left: 5%;
      margin-top: 1%;
      margin-right: 5%;
      margin-bottom: 0; }
      @media (min-width: 320px) and (max-width: 449px) {
        body #wrapper footer #check {
          margin-bottom: 5%; } }
    body #wrapper footer #invisible {
      position: absolute;
      width: 30px;
      height: 30px;
      left: 5%;
      display: none;
      cursor: pointer; }
    body #wrapper footer p {
      color: #757575;
      font-weight: 400;
      font-size: 12px;
      width: 93%;
      margin-left: 3%;
      margin-bottom: 1%;
      margin-top: 1%; }
      @media (min-width: 320px) and (max-width: 449px) {
        body #wrapper footer p {
          font-size: 10px; } }
      @media (min-width: 450px) and (max-width: 539px) {
        body #wrapper footer p {
          font-size: 10px; } }
      body #wrapper footer p a {
        color: #fff; }
        body #wrapper footer p a span {
          margin-left: 10px; }
    body #wrapper footer .domain {
      width: 100%;
      color: #757575;
      font-weight: 400;
      font-size: 12px;
      margin-left: 3%;
      width: 95%;
      margin-bottom: 1%;
      margin-top: 0%; }
      @media (min-width: 320px) and (max-width: 449px) {
        body #wrapper footer .domain {
          font-size: 10px; } }
      @media (min-width: 450px) and (max-width: 539px) {
        body #wrapper footer .domain {
          font-size: 10px; } }

/*# sourceMappingURL=style.css.map */
