@import "_normalize";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
$bt: #ff002a;
$medium: 540px;
$small: 450px;
$vsmall:320px;
@mixin medium-size {
  @media (min-width: #{$small}) and (max-width: #{$medium - 1px}) {
    @content;
  }
}
@mixin small-size {
  @media (min-width: #{$vsmall}) and (max-width: #{$small - 1px}) {
    @content;
  }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
body{
	margin: 0 auto;
	max-width: 640px;
	font-family: 'Roboto', sans-serif;
	min-width: 320px;
	#wrapper{
		header{
			background-color: #2f2f2f;
			width: 100%;
			height: 50px;
			display: inline-block;
			@include small-size{
				height: 60px;
			}
			.color{
				width: 100%;
				height: 50%;
				background-color: #363636;
			}
			.age{
				background: url(images/age1.png) no-repeat;
				width: 45px;
				height: 46px;
				margin-top: -24px;
    			float: left;
    			position: relative;
    			margin-left: 3%;
    			@include small-size{
    				background: url(images/age2.png) no-repeat;
    				margin-top: -16px;
    			}
    			@include medium-size{
    				background: url(images/age2.png) no-repeat;
    				margin-top: -16px;
    			}
				span{
					position: absolute;
				    top: 28%;
				    left: 20%;
				    font-size: 18px;
				    color: #fff;
				    @include small-size{
				    	top: 17%;
					    left: 10%;
					    font-size: 15px;
				    }
				    @include medium-size{
				    	top: 17%;
					    left: 12%;
					    font-size: 15px;
				    }
				}
			}
			a{
			    margin-left: 24%;
			    position: relative;
			    top: -25px;
			    text-decoration: none;
			    left: calc(50% - 29vw);
			    .a{
			    	float: left;
			    	margin-left: 26%;
    				margin-top: -3.5%;
    				@include medium-size{
    					margin-left: 24%;
    				}
    				@include small-size{
    					margin-left: 15%;
    				}
					span{
						@include medium-size{
							font-size: 25px;
						}
						@include small-size{
							font-size: 20px;
						}
						text-transform: uppercase;
					    font-size: 26px;
					    color: #fff;
					    margin-right: 8px;
					    font-weight: 300;
					}
					.tube{
						@include border-radius(20px);
						background-color: #ffffff;
						color: $bt;
						display: inline-block;
					    font-size: 27px;
					    width: 75px;
					    height: 35px;
					    text-align: center;
					    padding-top: 2px;
					    font-weight: 600;
						@include medium-size{
							width: 79px;
			    			height: 35px;
			    			font-size: 25px;
						}
					    @include small-size{
					    	width: 65px;
			    			height: 27px;
			    			font-size: 20px;
					    }
					}
				}
			}
		}
		main{
			background: #000;
			width: 100%;
			overflow: auto;
			
			.sponge{
				background: url(images/sponge.png) no-repeat;
				width: 98%;
				margin: 1% 1%;
				opacity: 0.7;
				background-position: center;
    			background-size: cover;
    			-webkit-background-size:cover;
    			-o-background-size:cover;
    			-moz-background-size:cover;
    			height: calc(100vh - 200px);
				@include medium-size{
					height: calc(100vh - 170px);
				}
				@include small-size{
					height: calc(100vh - 170px);
				}
				header{
					background-color: #000;
					opacity: 0.5;
					height: 60px;
					p{
						color: #fff;
						font-size: 25px;
					    display: inline-block;
					    float: left;
					    margin-left: 6%;
					    font-weight: 400;
					    margin-top: 1vw;
					    margin-bottom: 0;
					    @include medium-size{
					    	font-size: 20px;
					    	margin-top: 3vw;
					    }
					    @include small-size{
					    	font-size: 20px;
					    	margin-top: 5vw;
					    }

					}
					ul{
						float: right;
						position: relative;
						margin-right: 14%;
						margin-top: 1%;
						@include small-size{
							margin-top: 5vw;
							margin-right: 10%;
						}
						@include medium-size{
							margin-right: 14%;
							margin-top: 3%;
						}
    					a{
    						margin-left: 0;
							.time{
								background: url(images/time1.png) no-repeat;
								width: 45px;
								height: 45px;
								float: left;
								display: inline-block;
								margin-right: 40%;
								background-size: cover;
							    -webkit-background-size:cover;
				    			-o-background-size:cover;
				    			-moz-background-size:cover;
				    			@include small-size{
				    				background: url(images/time2.png) no-repeat;
				    				margin-right: 0;
				    			}
				    			@include medium-size{
				    				background: url(images/time2.png) no-repeat;
				    				margin-right: 0;
				    			}
							}
						}
						a{
    						margin-left: 0;
						
							.atom{
								background: url(images/atom1.png) no-repeat;
								width: 41px;
								height: 47px;
								display: inline-block;
								position: absolute;
    							top: 24px;
    							background-size: cover;
							    -webkit-background-size:cover;
				    			-o-background-size:cover;
				    			-moz-background-size:cover;
				    			@include small-size{
				    				background: url(images/atom2.png) no-repeat;
				    				width: 24px;
				    			}
				    			@include medium-size{
				    				background: url(images/atom2.png) no-repeat;
				    				width: 24px;
				    			}
							}
						}
					}
				}
				button{
					@include border-radius(32px);
					background-color: $bt;
					background-repeat: no-repeat;
				    background-image: url(images/bt2.png);
				    border-color: #ff002a;
				    max-width: 450px;
				    width: 272px;
				 
				    max-height: 100px;
				    height: 50vh;
				    
				    margin: 2% auto 1%;
				    background-position: 55%;
				    display: block;
				    @include medium-size{
				    	background-image: url(images/bt1.png);
				    	height: 15vw;
				    	background-position: 50%;
				    	width: 45vw;
				    	margin-top: 8%;
				    }
				    @include small-size{
				    	height: 30vw;
				    	background-image: url(images/bt1.png);
				    	background-position: 60%;
				    	margin-top: 55%;
				    	width: 60vw;
				    	margin-top: 8%;
				    }
				}
				p{
					text-align: center;
					color: #bababa;
					margin-bottom: 3%;
					font-weight: 400;
					@include medium-size{
						font-size: 12px;
					}
				}
				a{
					text-decoration: none;
					.cancel{
						@include border-radius(5px);
						background-color: #000;
						opacity: 0.5;
						color: #ffffff;
						border: 1px solid;
					    text-align: center;
					    width: 20%;
					    min-width: 67px;
					    height: 31px;
					    padding-top: 6px;
					    margin-left: 40%;
					    color: #fff;
					    font-size: 19px;
					    float: left;
					    font-weight: 400;
					    @include small-size{
					    	width: 17%;
							font-size: 15px;
							height: 24px;
							padding-top: 3px;
					    }
					    @include medium-size{
					    	width: 17%;
					    	font-size: 15px;
					    	height: 24px; 
					    	padding-top: 3px;
					    }
					}
				}
			}
			footer{
				overflow: auto;
				background-color: #000;
				height: 65px;
				@include small-size{
					height: 60px;
				}
				@include medium-size{
					height: 60px;
				}
				.grey{
					width: 98%;
					height: 3px;
					background-color: #626262;
					@include border-radius(5px);
					margin-left: 6px;
					.red{
						@include border-radius(5px);
						width: 25%;
						height: 3px;
						background-color: #ec0622;
					}
				}
				ul{
					margin: 2%;
					position: relative;
					height: 35px;
					@include small-size{
						height: 25px;
					}
					@include medium-size{
						margin: 1%;
						margin-top: 2%;
						height: 45px;
						margin-bottom: 0;
					}
					.play{
						background: url(images/play1.png) no-repeat;
						width: 41px;
					    height: 35px;
					    display: inline-block;
					    margin-right: 4%;
					    @include small-size{
				    		background: url(images/play2.png) no-repeat;
				    	}
				    	@include medium-size{
				    		background: url(images/play2.png) no-repeat;
				    	}
					}
					.volume{
						background: url(images/volume1.png) no-repeat;
						display: inline-block;
					    width: 45px;
					    height: 35px;
					    @include small-size{
				    		background: url(images/volume2.png) no-repeat;
				    	}
				    	@include medium-size{
				    		background: url(images/volume2.png) no-repeat;
				    	}
					}
					.sec{
						margin-left: 9%;
					    display: inline-block;
					    position: absolute;
					    top: 30%;
					    width: 100px;
					    color: #626262;
					    @include small-size{
					    	font-size: 12px;
					    	margin-left: 1%;
					    	top: 20%;
					    }
					    @include medium-size{
					    	font-size: 12px;
					    	margin-left: 1%;
					    	top: 20%;
					    }
					}
					.screen{
						background: url(images/screen1.png) no-repeat;
						display: inline-block;
					    width: 55px;
					    height: 35px;
					    float: right;
    					margin-right: 5%;
    					@include small-size{
				    		background: url(images/screen2.png) no-repeat;
				    		margin-right: 0;
				    	}
				    	@include medium-size{
				    		background: url(images/screen2.png) no-repeat;
				    		margin-right: 0;
				    	}
					}
				}
			}
		}
		footer{
			width: 100%;
			height: 15.5%;
			background-color: #2f2f2f;
			overflow: auto;
			position: relative;
			@include small-size{
				height: 42vw;
			}
			#check{
				width: 18px;
				height: 16px;
				border: 2px solid #000;
				background-color: #ffffff;
				float: left;
				margin-left: 5%;
			    margin-top: 1%;
			    margin-right: 5%;
			    margin-bottom: 0;
			    @include small-size{
			    	margin-bottom: 5%;
			    }

			}
			.check1{
				background: url(images/check1.png) no-repeat;
				
			    
			}
			p{
				color: #757575;
				font-weight: 400;
				font-size: 12px;
				width: 93%;
				margin-left: 3%;
				margin-bottom: 1%;
				margin-top: 1%;
				@include small-size{
					font-size: 10px;
				}
				@include medium-size{
					font-size: 10px;
				}
				a{
					color: #fff;
					span{
						margin-left: 10px;
					}
				}
			}
			.domain{
				width: 100%;
				color: #757575;
				font-weight: 400;
				font-size: 12px;
				margin-left: 3%;
    			width: 95%;
    			margin-bottom: 1%;
    			margin-top: 0%;
    			@include small-size{
    				font-size: 10px;
    			}
    			@include medium-size{
					font-size: 10px;
				}
			}
		}
	}
}